:root {
  --primary-color: rgb(124, 240, 255);
  --secondary-color: rgb(218, 248, 252);
  --progress-color: rgb(255, 255, 255);
  --num-rows: 15;
  --num-cols: 15;
  --cell-side-length: 2rem;
  --grid-height: calc(var(--num-rows) * var(--cell-side-length));
  --grid-width: calc(var(--num-cols) * var(--cell-side-length));
}

body {
  text-align: center;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

.color-primary {
  background-color: var(--primary-color);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
}

.container-main {
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
}

/* Grid */

.grid {
  height: var(--grid-height);
  width: var(--grid-width);
  display: flex;
  flex-wrap: wrap;
  border: calc(var(--cell-side-length) / 2) solid var(--primary-color);
  border-radius: calc(var(--cell-side-length) / 2);
}

.grid > div {
  height: var(--cell-side-length);
  width: var(--cell-side-length);
  box-sizing: border-box;
}

.wall {
  background-color: var(--primary-color);
}

.wall-top-left {
  border-top-left-radius: calc(var(--cell-side-length) / 2);
}

.wall-top-right {
  border-top-right-radius: calc(var(--cell-side-length) / 2);
}

.wall-bottom-left {
  border-bottom-left-radius: calc(var(--cell-side-length) / 2);
}

.wall-bottom-right {
  border-bottom-right-radius: calc(var(--cell-side-length) / 2);
}

.berry,
.pokeman,
.chaser {
  background-size: cover;
}

.berry-razz,
.berry-nanab,
.berry-pinap {
  border: 0.5em solid white;
}

.berry-razz-silver,
.berry-pinap-silver,
.berry-nanab-silver {
  border: 0.35em solid white;
}

.berry-razz-golden,
.berry-pinap-golden,
.berry-nanab-golden {
  border: 0.2em solid white;
}

.pokeman,
.chaser {
  border: 0.1em solid white;
  border-radius: var(--cell-side-length);
}

.pokeman {
  background-color: lightgreen;
}

.chaser {
  background-color: lightcoral;
}

/* Info */

.info {
  width: 40%;
  display: grid;
  grid-template-areas:
    "P G"
    "C G";
  gap: 0 2em;
}

.progress,
.controls,
.guide,
.progress-bar,
.button,
.guide-pokeman,
.guide-chaser,
.berry-row,
.guide-status,
.up,
.left,
.down,
.right {
  border: 0.2em solid var(--primary-color);
  border-radius: 1em;
}

.progress,
.controls,
.guide {
  justify-self: center;
  align-self: center;
  padding: 1em;
  background-color: var(--secondary-color);
}

.progress {
  grid-area: P;
}

.controls {
  grid-area: C;
}

.guide {
  grid-area: G;
}

.movement-panel {
  margin-top: 1em;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 0.25em;
}

.progress-bar,
.button,
.guide-pokeman,
.guide-chaser,
.berry-row,
.guide-status {
  margin-top: 1em;
  padding: 0.5em 1.25em;
  background-color: var(--progress-color);
}

.up,
.left,
.down,
.right {
  background-color: var(--progress-color);
}

.active-direction {
  background-color: rgb(206, 253, 206);
}

.button {
  border-color: purple;
  cursor: pointer;
  transition: transform 0.25s ease-in-out;
}

.button:hover,
.button:focus {
  transform: scale(1.1);
}

.button-time {
  display: none;
}

.berries {
  display: flex;
  flex-direction: column;
}

.berry-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
}

.berries-normal {
  background-color: #fff4e6;
}

.berries-silver {
  background-color: rgb(233, 233, 233);
}

.berries-golden {
  background-color: lightgoldenrodyellow;
}

.guide-berry {
  height: 1.5rem;
  width: 1.5rem;
  box-sizing: border-box;
  margin: 0 0.1em;
  border: none;
  background-size: cover;
}

.berry-razz {
  background-image: url(images/berries/razz-berry.webp);
}

.berry-pinap {
  background-image: url(images/berries/pinap-berry.webp);
}

.berry-nanab {
  background-image: url(images/berries/nanab-berry.webp);
}

.berry-razz-silver {
  background-image: url(images/berries/silver-razz-berry.webp);
}

.berry-pinap-silver {
  background-image: url(images/berries/silver-pinap-berry.webp);
}

.berry-nanab-silver {
  background-image: url(images/berries/silver-nanab-berry.webp);
}

.berry-razz-golden {
  background-image: url(images/berries/golden-razz-berry.webp);
}

.berry-pinap-golden {
  background-image: url(images/berries/golden-pinap-berry.webp);
}

.berry-nanab-golden {
  background-image: url(images/berries/golden-nanab-berry.webp);
}

.berry-score {
  font-size: 1.5rem;
  margin-left: 0.4em;
}